{% extends "base.html" %}
{% block content %}
<p class="text-primary text-center"> Welcome to the Murang'a county veterinary services. To get optimum results try and type in your queries as accurately as possible. Thankyou for your consideration</p>

<p> This website aims to enhance the delivery of services. to do this we have a <a href = "/home/reportissue">contact us page </a>. Here you can send us a message requesting a service or any kind of notification. Should you have a notification for the communication at large, please leave it with us and we will send it via our sms service.<i> this will have to correspond with our terms and conditions</i>.</p>

<p> This site will also gather links to relevant farming websites and articles as below</p>

<h1>Recent news</h1>
<div class = "media">
   <a class = "pull-left" href = "http://www.nation.co.ke/business/seedsofgold/Forget-cattle-dips-we-will-spray-your-animal-for-Sh30/2301238-2774394-2h9j4s/index.html">
      <img class = "media-object" src = "/static/Cattle-dip.jpg" alt = "Media Object">
   </a>

   <div class = "media-body">
      <h4 class = "media-heading">Youths provide free veterinary services</h4>
      ........David Mwangi, 35, is a member of the Ihigaini Youth Bunge comprising of 23 young men and women, who are educating farmers on diseases and helping them control ticks, the cause of East Coast Fever, among other livestock ailments........
   </div>

</div>

<div class = "media">
   <a class = "pull-left" href = "muranga-county-launches-one-youth-one-cow-as-milk-market-expands">
      <img class = "media-object" src = "/static/cow.jpeg" alt = "Media Object">
   </a>

   <div class = "media-body">
      <h4 class = "media-heading">one cow one youth</h4>
      ........‘One Youth One Cow’, the project, a joint initiative between the county government and the Murang’a County Creameries (MCC) will allow youths to access seed capital to purchase and rear dairy cows for the expanding milk market..........
   </div>

</div>

{% endblock %}
